html {
  box-sizing: border-box;
}

body {
    padding-top: 50px;
    background-color: #E8E0F4;
}

header {
    color:#000000;
    font-size: 50px;
    text-align: center;
}

#listItemTemplate {
    display: none!important;
}

.listItem {
    padding-left: 10px;
    padding-top: 10px;
    color: #936AC7;
    border-bottom: 1px solid #979797;    
    width: 100%;
    height: 100px;
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}